.Room {
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Room .title-com {
    position: relative;
    top: -40px;
    margin: unset !important;
    color: #28f0b0;
    font-size: 23px;
    text-shadow: 2px 5px 5px #24D75E;
}
.Room .field-room {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Room .find-room {
    margin-bottom: 10px;
}
.Room .field-room input {
    width: 240px;
    height: 40px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    background-color: #193f12;
    color: #EEE;
}
.Room .body-room {
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Room .users {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    width: 250px;
    height: 320px;
    border-radius: 20px;
}
.Room .users .in4 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Room .users .in4:hover {
    background-color: rgba(255,255,255,0.15);
}
.Room .users .in4:hover p {
    color: #FFF;
}
.Room .users .in4 .avt {
    border: unset !important;
}
.Room .users .in4 .avt img {
    border-radius : 20px;
}
.Room .users p, .rooms p {
    font-size: 17px;
    color: #BBB;
}
.Room .rooms {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    width: 250px;
    height: 320px;

    border-radius: 20px;
}
.Room .rooms .find-room-link {
    display: flex;
    margin: unset;
    width: 100%;
    text-decoration: none;
}
.Room .rooms .each-room-avail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}
.Room .rooms p {
    text-align: center;
    margin: unset;
}
.Room .rooms .each-room-avail:hover {
    background-color: rgba(255,255,255,0.15);
}
.Room .rooms .each-room-avail:hover p {
    color: #EEE;
}
.field-room input:focus {
    background: linear-gradient(108deg, #000000, #0f9b0f);
}
.field-room input::placeholder {
    color: #AAA;
}
.field-room button {
    padding: 5px 35px 5px 35px;
    margin-left: 20px;
    color: #DDD;
    font-size: 16px;
    background: linear-gradient(80deg, #00bf8f, #001510);
    border: 1px solid #AAA !important;
    border-radius: 30px;
}
.field-room button:hover {
    color: #666;
    font-size: 18px;
    background: linear-gradient(40deg, #a8ff78, #78ffd6);

}
.room-found {
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.room-found p {
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
}
.room-found .find-room-link {
    margin-bottom: 20px;
}
.room-found button {
    padding: 15px 40px;
    background-color: transparent;
    border: 2px solid #33d138;
    color: #AAA;
    font-size: 16px;
}
.room-found button:hover {
    color: #EEE;
    border: 2px solid #00bf8f;
    background: linear-gradient(30deg, #11998e, #38ef7d);
}
.Room 
@media(max-width: 600px) {
    .field-room input {
        width: 180px !important;
    }
    .Room .users {
        display: none;
    }
    .Room .rooms {
        display: none;
    }
}