.login {
  width: 600px;
  height: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #AAA;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}
.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.user {
  display: flex;
  grid-column: 1 / 4;
}
.users-online {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #AAA;
  border-radius: 20px;
  overflow-y: scroll;
}
.container-2 .add-room {
  margin-top: 30px;
}
.rooms {
  border: 1px solid #AAA;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  overflow-y: scroll;
}
.my-room-now {
  background-color: #62De47;
}
.form-chat {
  
}
.list-chat {
  
  border: 1px solid #AAA;
  border-radius: 10px;
  width: 400px;
  height: 300px;
  overflow-y: scroll;
}
.list-chat .my-chat > div{
  display: inline-flex !important;
  padding: 2px 15px 2px 15px;
  background-color: #25b952db !important;
  border: 1px solid #DDD !important;
  border-radius: 15px;
}
.list-chat .chat > div {
  width: auto;
  max-width: 120px;
  padding: 5px 20px;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  background-color: #cdd5cb;
  border: 1px solid #EEE;
  border-radius: 15px;
}
.list-chat .chat {
  position: relative;
  clear: both;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}
.list-chat .my-chat {
  justify-content: flex-end;
  align-items: flex-end;
}
.my-chat span {
  margin-right: 30px;
}
.list-chat .chat span {
  margin-left: 30px;
  font-size: 0.9em;
  color: #94989c;
}
.chat p {
  margin-bottom: unset !important;
  color: #000;
}